# Ignora la cartella delle immagini di automazione
moduli/img/
# Ignora i CSV dei singoli utenti
!dati/turni_csv/turni_uniti.csv
dati/turni_csv/turni_*.csv
# 🔥 File compilati Python
__pycache__/
*.pyc

# 🧪 Ambienti virtuali
venv/
env/
.venv/
.env/

#script avvio da desktop
avvia_turni.bat

# 📄 Dati generati automaticamente
dati/raw_html/*.html

# 🛠️ Config temporanei editor
*.vscode/
*.idea/
*.DS_Store